[Desktop Entry]
Type=Application
Name=Compagnion Monitor Kiosk
Comment=Affiche le dashboard système sur l'écran tactile
Exec=chromium-browser --kiosk --no-sandbox --disable-infobars --disable-session-crashed-bubble --disable-translate --disable-pinch --overscroll-history-navigation=0 http://localhost:3001
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
